<h1>Resultados da busca</h1>

<h2>Promoções</h2>

<% if @promotions.empty? %>
  <p>Nenhum resultado encontrado para a pesquisa "<%= @q %>" em promoções</p>
<% else %>
  <ul>
    <% @promotions.each do |promotion| %>
      <li><%= link_to promotion.name, promotion %>: <%= promotion.code %></li>
    <% end %>
  </ul>
<% end %>

<h2>Cupons</h2>

<% if @coupons.empty? %>
  <p>Nenhum resultado encontrado para a pesquisa "<%= @q %>" em cupons</p>
<% else %>
  <ul>
    <% @coupons.each do |coupon| %>
      <li><%= coupon.code %>: <%= link_to coupon.promotion.name, coupon.promotion %></li>
    <% end %>
  </ul>
<% end %>