<% if @promotions.blank? %>
  <div class="warning">'Nenhuma promoção cadastrada'</div>
<% end %>

<% if flash[:notice] %>
  <div class='notice success'>
    <p><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class='notice error'>
    <p><%= flash[:alert] %></p>
  </div>
<% end %>

<% @promotions.each do |promotion| %>
  <div>
    <dl>
      <dt>Nome</dt>
      <dd><%= link_to promotion.name, promotion %></dd>
      <dt>Descrição</dt>
      <dd><%= promotion.description %></dd>
      <dt>Porcentagem</dt>
      <dd><%= number_to_percentage(promotion.discount_rate, precision: 2, separator: ',') %></dd>
    <dl>
  </div>
  <hr/>
<% end %>

<%= link_to 'Registrar uma promoção', new_promotion_path %>
<%= link_to 'Voltar', :back %>