<h1>Nova Promoção</h1>
<% if @promotion.errors.any? %>
  <div class='alert'>
    <p>Não foi possível criar a promoção</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @promotion do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  <div>
    <%= f.label :discount_rate %>
    <%= f.number_field :discount_rate %>
  </div>
  <div>
    <%= f.label :coupon_quantity %>
    <%= f.number_field :coupon_quantity, step: 1 %>
  </div>
  <div>
    <%= f.label :expiration_date %>
    <%= f.date_field :expiration_date %>
  </div>

  <%= f.submit 'Criar promoção' %>
<% end %>