<%= link_to 'Voltar', :back %>

<h1><%= @promotion.name %></h1>
<span>Cadastrada por: <%= @promotion.user.email %></span>
<dl>
  <dd>Descrição</dd>
  <dt><%= @promotion.description %></dt>
  <dd>Porcentagem</dd>
  <dt><%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %></dt>
  <dd>Código</dd>
  <dt><%= @promotion.code %></dt>
  <dd>Data de Expiração</dd>
  <dt><%= l(@promotion.expiration_date) %></dt>
  <dd>Quantidade de Cupoms</dd>
  <dt><%= @promotion.coupon_quantity %></dt>

  <% if @promotion.approved? %>
    <dd>Status: </dd>
    <dt>Aprovada</dt>
  <% end %>
</dl>

<% unless current_user.eql?(@promotion.user) %>
  <%= link_to 'Aprovar promoção',
              approve_promotion_path(@promotion),
              method: :post %>
<% end %>

<% unless @promotion.all_coupons_generated? %>
  <%= link_to 'Gerar cupons',
              generate_coupons_promotion_path(@promotion),
              method: :post %>
<% end %>

<% @promotion.coupons.each do |coupon| %>
  <div id='coupon-<%= coupon.id %>'>
    <span><%= coupon.code %> (<%= t(".#{coupon.status}") %>)</span>
    <% if coupon.active? %>
      <p><%= link_to 'Inativar', inactivate_coupon_path(coupon), method: :post %></p>
    <% end %>
  </div>
<% end %>

<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Apagar promoção', promotion_path(@promotion),
                  method: :delete,
                  data: { confirm: "Tem certeza que deseja deletar essa promoção?" } %>