<% if flash[:notice] %>
  <div class='notice success'>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>
  
<%= link_to 'Voltar', :back %>

<h1><%= @promotion.name %></h1>
<dl>
  <dd>Descrição</dd>
  <dt><%= @promotion.description %></dt>
  <dd>Porcentagem</dd>
  <dt><%= number_to_percentage(@promotion.discount_rate, precision: 2, separator: ',') %></dt>
  <dd>Código</dd>
  <dt><%= @promotion.code %></dt>
  <dd>Data de Expiração</dd>
  <dt><%= l(@promotion.expiration_date) %></dt>
  <dd>Quantidade de Cupoms</dd>
  <dt><%= @promotion.coupon_quantity %></dt>
</dl>

<%= link_to 'Gerar cupons',
            generate_coupons_promotion_path(@promotion),
            method: :post %>


<% @promotion.coupons.each do |coupon| %>
  <p><%= coupon.code %></p>
<% end %>

<%= link_to 'Editar promoção', edit_promotion_path(@promotion) %>
<%= link_to 'Apagar promoção', promotion_path(@promotion),
                  method: :delete,
                  data: { confirm: "Tem certeza que deseja deletar essa promoção?" } %>